.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container h2{
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.about-container p{
    text-align: center;
    width: 88%;
    font-size: 18px;
    color: #716565;
    margin-bottom: 40px;
}